<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.first_name}} {{user.last_name}}</title>
  </head>
  <body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p>
      <img
        src="{{user.image_url}}"
        alt="No User Image"
        width="300"
        height="300"
      />
    </p>
    <form action="/user/{{user.id}}/edit">
      <button>Edit</button>
    </form>
    <form action="/user/{{user.id}}" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
